<footer class="bg-main-light py-4">
    <div class="container">
        <h2>
            get the fresh card
        </h2>
        <p class="text-muted"> we will send you a link </p>
        <div class="d-flex gap-3"> 
            <input type="email" class="form-control" placeholder="email" width="100">
            <button class="btn-main flex-shrink-0"> share app link</button>
        </div>
    </div>
    <hr>
    <h3 class="h6 text-center">&copy:2024 taha ahmed all rightreserved</h3>




</footer>

